#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#page-desc {
    background: linear-gradient(rgb(255, 255, 225), rgb(200, 200, 200));
    border-radius: 15px;
    border: 2px;
    border-color: black;
    width: 32cm;
    margin: 8px;
}

#audius-embed {
    margin: 8px;
}

.desc-header {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}