#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#page-desc {
    background: linear-gradient(rgb(255, 255, 225), rgb(255, 255, 100));
    border-radius: 15px;
    outline: 4px rgb(255, 255, 100) solid;
    width: 32cm;
    margin: 8px;
}

#audius-embed {
    margin: 8px;
}

.desc-header {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.desc-content {
    margin: 8px;
}