
#project-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10cm;
    height: 10cm;
    background-color: aqua;
    border-radius: 16px;
}

.project-thumbnail {
    pointer-events: none;
}

.project-text {
    margin-left: 12px;
    margin-right: 12px;
}

#thumb-moonie {
    margin-top: 16px;
    width: 32%;
    scale: 150%;
    height: auto;
    align-self: center;
}

#thumb-ptp {
    margin-top: 8px;
    width: 32%;
    scale: 200%;
    height: auto;
    align-self: center;
}

#thumb-spi {
    margin-top: 24px;
    width: 50%;
    scale: 100%;
    height: auto;
    align-self: center;
}

.btn {
    height: 0.75cm;
    width: 4cm;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.yt-btn {
    background-color: #ff0033;
    color: #ffffff;
}

.iio-btn {
    background-color: #fa5c5c;
    color: #ffffff;
}

.ost-btn {
    background-color: #791ac4;
    color: #ffffff;
}