#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.project-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10cm;
    height: 10cm;
    background-color: aqua;
}

