#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10cm;
    height: 10cm;
    background-color: aqua;
    margin: 4px;
    border-radius: 16px;
}

.project-text {
    margin-left: 12px;
    margin-right: 12px;
}

#thumb-moonie {
    margin-top: 8px;
    width: 50%;
    height: auto;
    align-self: center;
}

#thumb-ptp {
    margin-top: 8px;
    width: 32%;
    scale: 200%;
    height: auto;
    align-self: center;
}

.project-buttons > a > button {
    height: 0.75cm;
    width: 4cm;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}

.yt-btn {
    background-color: #ff0033;
    color: #ffffff;
}

#mm-ost {
    background-color: #791ac4;
    color: #ffffff;
}